<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<scetion layout:fragment="contents" class="contents d-flex justify-content-center">
<div class="memo-box my-5">
    <h1 class="text-center">메모 리스트</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="memo:${memoList}">
                <td th:text="${memo.id}">1</td>
                <td><a href="#" th:text="${memo.title}">오늘 해야하는 일</a></td>
                <td th:text="${#temporals.format(memo.createdAt,'yyyy-MM-dd HH:mm:ss')}">2025-09-29 21:14:12</td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-end mt-2">
        <a href="/memo/write" class="btn btn-secondary mt-4">메모 쓰기</a>
    </div>
</div>
</scetion>

</html>